
.weather {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 250px;
    margin-bottom: 2rem;
    padding: 1rem 0;
    text-align: center;
    background: #F7F7F7;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 2px 2px 20px 2px darkgray;
}

.title {
    padding: 1rem 0;
}

.info-text {
    text-align: left;
    padding:0 1.5rem;
    color: orange;
}

.info-container {
    display:flex;
    flex-direction: column;
    div {
        margin: 0.5rem 0;
    }
}

.current-temp {
    font-size: 30px;
    margin: 10px 0;
}